@import '../../../src/styles/settings.scss';

.root {
  .btn {
    margin: 0 auto;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    &:hover {
      border: 1px solid transparent;
      color: orange;
      transition: 0.3s;
    }
  }

  .dist {
    display: flex;
    justify-content: center;
  }
}
