@import '../../../src/styles/settings.scss';

.root {
  min-width: 320px;
  .table {
    background-color:lightgray;
    .code {
      color: blue;
      &:hover{
        cursor: pointer;
        color: orange;
        transition: .3s;
      }
    }
  }
}
