@import '../../../src/styles/settings.scss';

.root {
  .bar {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    .btn {
      margin: auto;
      color: orange;
      border: 1px solid transparent;
    }
  }
}
