@import '../../../src/styles/settings.scss';

.root {
  .btn {
    margin: auto;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    &:hover {
      border: 1px solid transparent;
      color: orange;
      transition: .3s;
    }
  }
}
